/* Add your CSS below, or use any CSS methodology you like, as long as it compiles to a static src/index.css file */

/* Example of linking to a local font file: */
// @font-face {
//   font-family: 'Volvo Sans Pro';
//   src: url('./fonts/SomeFontName.woff') format('woff');
//   font-weight: 100 400;
//   font-display: block;
// }

/* Or you may use Google Fonts like this: */
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');


/* Example styles… */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-synthesis: none;

  --electric-lime: #d1ff3b;
  --midnight-forest: #03292d;
}

/*! purgecss start ignore */
h1 {
  font-size: 3em;
  line-height: 1.1;
  letter-spacing: -0.02em;
}
/*! purgecss end ignore */
